<h2>Reporter output</h2><table><tr><td>Log beginning at : Fri 10 Jun, 2016 14:23:11</td></tr>
<tr><td>New driver instantiated</td></tr>
<tr><td>John SmithTest Passed.</td></tr>
<tr><td>R O'NEILLTest Passed.</td></tr>
<tr><td>WJ RYANTest Failed.</td></tr>
<tr><td>ALEX SMITHTest Passed.</td></tr>
<tr><td>H Simpson Test Failed.</td></tr>
<tr><td>STEVEN HARPERTest Passed.</td></tr>
<tr><td>CARLY SMITHTest Failed.</td></tr>
<tr><td>JIAQI PANTest Failed.</td></tr>
<tr><td>TIM & TONYA KUNTZTest Passed.</td></tr>
<tr><td>EXCELL HALLTest Failed.</td></tr>
<tr><td>Marilyn HallTest Failed.</td></tr>
<tr><td>M HallTest Failed.</td></tr>
<tr><td>G HALLTest Failed.</td></tr>
<tr><td>M HallTest Failed.</td></tr>
<tr><td>S & S HallTest Failed.</td></tr>
<tr><td>T R HallTest Failed.</td></tr>
<tr><td>Richard S HallTest Failed.</td></tr>
<tr><td>*******Program exiting safely, all tests complete.*******</td></tr>
</table>